<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
    <section id="projects">
        <h2>Projects</h2>
        <div class="project">
            <h3>Alien Invasion</h3>
            <p>Alien Invasion is a fast-paced game where you control a spaceship positioned at the bottom of the screen. Your objective is to shoot down incoming aliens before they reach the bottom of the screen. The game features various levels of difficulty, increasing the challenge as you progress.</p>
            <a href="https://github.com/PhreshPrince01/Alien_Invasion">View Project</a>
        </div>
        
    </section>
</body>
</html>